body {
  margin: 0;
}

.wrapper-card {
  margin: 0 20px;
  
  @media all and (min-width: 768px) {
   margin: 0;
  }
}

.fieldset__settings {
  padding: 0;
  border: 0;
  margin: 0;
}

.card__main {
  display: flex;
  flex-direction: column-reverse;

  @media all and (min-width: 768px) {
    padding: 20px 40px 20px;
    background-image: linear-gradient(to bottom, #f5f5f5, white); 
    display: grid;
    grid-template-columns: 329px 1fr;
    grid-gap: 30px;
  }
}

.collapsible__title {
  cursor: pointer;
}

.hidden__collapsible {
  .collapsible__container {
    display: none;
  }
  .arrow {
    transform: rotate(180deg);

  }
}

.hidden {
  display: none;
}