<article class="settings__design">
        <div class="design__title">
            <i src="" alt="" class="design__title--img">
            <h2 class="design__title--name">Diseña</h2>
        </div>
        <label for="settings__palette">
            <input type="design__color" id="color1" name="color">
            <ul class="design__list">
              <li class="list__color" style="background-color: #114e4e">114e4e</li>
              <li class="list__color" style="background-color:#438792">438792</li>
              <li class="list__color" style="background-color:#a2deaf">a2deaf</li>
            </ul>
        </label>
        <label for="settings__palette">
            <input type="design__color" id="color2" name="color">
            <ul class="design__list">
              <li class="list__color" style="background-color: #114e4e">114e4e</li>
              <li class="list__color" style="background-color:">438792</li>
              <li class="list__color" style="background-color:">438792</li>
              <li class="list__color" style="background-color:#a2deaf">a2deaf</li>
            </ul>
        <label for="settings__palette">
            <input type="design__color" id="color3" name="color">
            <ul class="design__list">
                  <li class="list__color" style="background-color: #114e4e">114e4e</li>
                  <li class="list__color" style="background-color:#438792">438792</li>
                  <li class="list__color" style="background-color:#a2deaf">a2deaf</li>
                </ul>
        </label>
    </article>