<section class="section__card">

        <div class="card__box">
            <button class="card__reset"><i class="far fa-trash-alt"></i>Reset</button>
            <div class="card__box--header">
              <div class="card__box--text">
                  <h3 class="card__name resultName">Nombre Apellido</h3>
                  <p class="card__job-title resultJob">Front-end developer</p>
              </div>
            </div>
            <div class="card__photo js__profile-image"></div>
            <ul class="card__list">
                <li class="list__item list__item--email hidden">
                  <a href="" class="card__list--link far fa-envelope email__icon" target="_blank">email</a>
                </li>
                <li class="list__item list__item--phone hidden">
                  <a href="" class="card__list--link fas fa-mobile-alt phone__icon" target="_blank">mobile</a>
                </li>
                <li class="list__item list__item--linkelind hidden">
                  <a href="" class="card__list--link fab fa-linkedin-in linkedin__icon" target="_blank">linkedin</a>
                </li>
                <li class="list__item list__item--github hidden">
                  <a href="" class="card__list--link fab fa-github-alt github__icon" target="_blank">github</a>
                </li>
            </ul>
        </div>
    </section>
