<section class="section__card">
        
        <div class="card__box">
            <button class="card__reset"><i class="far fa-trash-alt"></i>Reset</button>
            <h3 class="card__name">Nombre Apellido</h3>
            <p class="card__job-title">Front-end developer</p>
            <div class="card__rectangle"></div>
            <div class="card__photo"></div>
            <ul class="card__list">
                <a href="#" class="card__list--link"><li class="list__item list__mobile fas fa-mobile-alt">mobile</li></a>
                <a href="#" class="card__list--link"> <li class="list__item list__email far fa-envelope">email</li></a>
                <a href="#" class="card__list--link"><li class="list__item list__linkedin fab fa-linkedin-in">linkedin</li></a>
                <a href="#" class="card__list--link"> <li class="list__item list__github fab fa-github-alt">github</li></a>
            </ul>
        </div>
    </section>