<main class="card__main">
    <section class="section__card">
        <button class="card__reset">Reset</button>
        <div class="card__box">
            <p class="card__name">Nombre Apellido</p>
            <p class="card__job-title">Front-end developer</p>
            <img src="" alt="Picture of the person" class="card__photo">
            <ul class="card__list">
                <li class="list__mobile"></li>
                <li class="list__email"></li>
                <li class="list__linkedin"></li>
                <li class="list__github"></li>
            </ul>
        </div>
    </section>
    <section class="settings">
        <article class="settings__design">
            <div class="design__title">
                <img src="" alt="" class="design__title--img">
                <h2 class="design__title--name">Diseña</h2>
            </div>
            <div class="design__options">
                <form action="" class="design__form"></form>
            </div>
        </article>
        <article class="settings__fill">
            <div class="fill__title">
                <img src="" alt="" class="fill__title--img">
                <h2 class="fill__title--name">Rellena</h2>
            </div>
            <div class="fill__options">
                <form action="" class="fill__form"></form>
            </div>
        </article>
        <article class="share__design">
            <div class="share__title">
                <img src="" alt="" class="share__title--img">
                <h2 class="share__title--name">Comparte</h2>
            </div>
            <div class="share__options">
                <button class="share__button"></button>
            </div>
        </article>
    </section>
</main>