<div class="share__design section__fieldset hidden__collapsible">
  <div id="share" href="#" class="share__title collapsible__title">
    <i class="share__title--img fas fa-share-alt"></i>
    <h2 class="share__title--name">Comparte</h2>
    <i id="share-arrow" class="fas fa-chevron-up arrow"></i>
  </div>
  <div id="share-container" class="share__collapsible--container collapsible__container">
    <div class="share__options">
      <button type="submit" class="share__button "><i class="share__button--img far fa-address-card"></i>Crear tarjeta</button>
    </div>
    <div class="share__created">
      <h3 class="share__created--text">La tarjeta ha sido creada</h3>
      <a href="" class="share__created--link"></a>
      <div class="share__created--twitter-container">
      <div class="twitter"></div>
      </div>
    </div>
  </div>
</div>
