<div class="settings__design section__fieldset">
  <div id="design" href="#" class="design__first-box collapsible__title design__title">
    <i class="design__img far fa-object-ungroup"></i>
    <h2 class="design__title--name">diseña</h2>
    <i id="design-arrow" class="fas fa-chevron-up arrow"></i>
  </div>
  <div id="design-container" class="design__container--palette collapsible__container">
    <div>
      <h3 class="design__title--colors">colores</h3>
    </div>
    <div>
      <a href class="design__palette-colors">
        <label class="design__palette palette1" for="settings__palette1">
          <input class="desidn__radio" value="1" type="radio" id="settings__palette1" name="color" checked>
          <ul class="design__list">
            <li class="list__color" style="background-color: #114e4e">114e4e</li>
            <li class="list__color" style="background-color:#438792">438792</li>
            <li class="list__color" style="background-color:#a2deaf">a2deaf</li>
          </ul>
        </label>
      </a>
      <a href class="design__palette-colors">
        <label class="design__palette palette2" for="settings__palette2">
          <input class="desidn__radio" type="radio" id="settings__palette2" value="2" name="color">
          <ul class="design__list">
            <li class="list__color" style="background-color: 
              #420101">420101</li>
            <li class="list__color" style="background-color:#bd1010">bd1010</li>
            <li class="list__color" style="background-color:
              #e95626">e95626</li>
          </ul>
        </label>
      </a>
      <a href class="design__palette-colors">
        <label class="design__palette palette3" for="settings__palette3">
          <input class="desidn__radio" value="3" type="radio" id="settings__palette3" name="color">
          <ul class="design__list">
            <li class="list__color" style="background-color: #3e5b65">3e5b65</li>
            <li class="list__color" style="background-color:#dfe5eb">dfe5eb</li>
            <li class="list__color" style="background-color:#a0c0cf">a0c0cf</li>
          </ul>
        </label>
      </a>
    </div>

  </div>