<article class="share__design">
  <div class="share__title">
    <i class="share__title--img fas fa-share-alt"></i>
    <h2 class="share__title--name">Comparte</h2>
    <i class="share__title--chevron fas fa-chevron-up"></i>
  </div>
  <div class="share__options">
    <button class="share__button"><i class="share__button--img far fa-address-card"></i>Crear tarjeta</button>
  </div>
  <div class="share__created">
    <h3 class="share__created--text">La tarjeta ha sido creada</h3>
    <a href="" class="share__created--link">https://awesome-profile-card.com?id=A456DF0001</a>
    <div class="share__created--twitter-container">
    <a href="" class="share__created--twitter"><i class="share__created--twitter-img fab fa-twitter"></i>Compartir en twitter</a>
    </div>
  </div>
</article>