<section class="section__card">
        
        <div class="card__box">
            <button class="card__reset"><i class="far fa-trash-alt"></i>Reset</button>
            <div class="card__box--header">
              <div class="card__box--text">
                  <h3 class="card__name result">Nombre Apellido</h3>
                  <p class="card__job-title result1">Front-end developer</p>
              </div>
            </div>
            <div class="card__photo"></div>
            <ul class="card__list">
                <li class="list__item"><a href="" class="card__list--link far fa-envelope email__icon">email</a></li>
                <li class="list__item"><a href="" class="card__list--link fas fa-mobile-alt phone__icon">mobile</a></li>
                <li class="list__item"><a href="" class="card__list--link fab fa-linkedin-in linkedin__icon">linkedin</a></li>
                <li class="list__item"><a href="" class="card__list--link fab fa-github-alt github__icon">github</a></li>
            </ul>
        </div>
    </section>