<div class="settings__fill section__fieldset hidden__collapsible">
    <div id="fill" href="#" class="fill__first-box collapsible__title">
        <div class="fill__title">
            <i class="fill__img far fa-keyboard"></i>
            <h2 class="fill__title--name">Rellena</h2>
        </div>
        <i id="fill-arrow" class="fas fa-chevron-up arrow"></i>
    </div>
    <div id="fill-container" class="fill__form collapsible__container">
        <fieldset class="fill__fieldset">
            <label for="fullName">Nombre completo</label>
            <input class="input-name" placeholder="Ej: Sally Jill" id="fullName" type="text" name="name" required>

            <label for="jobTitle">Puesto</label>
            <input class="input-job" placeholder="Ej: Front-end unicorn" id="jobTitle" type="text" name="job" required>
        </fieldset>
        <fieldset class="fill__fieldset select-image">
            <label for="selectImage">Imagen de perfil</label>
            <div class="fill__select-image--container">
              <button class="fill__select--button js__profile-trigger" type="button">Añadir imagen</button>
              <input id="selectImage" type="file" accept=".png, .jpg, .jpeg" name="selectImage" class="js__profile-upload-btn">
              <div class="preview__image js__profile-preview"></div>
            </div>
        </fieldset>
        <fieldset class="fill__fieldset">
            <label for="email">Email</label>
            <input placeholder="Ej: sally-hill@gmail.com" id="email" type="email" name="email">

            <label for="phone">Teléfono</label>
            <input placeholder="Ej: 555-55-55-55" id="phone" type="tel" name="phone">

            <label for="linkedin">Linkedin</label>
            <input placeholder="Ej: sally.hill" id="linkedin" type="text" name="linkedin">

            <label for="github">Github</label>
            <input placeholder="Ej: sally-hill" id="github" type="text" name="github">
        </fieldset>
    </div>
</div>