<article class="settings__design">
        <div class="design__title">
            <i src="" alt="" class="design__title--img"></i>
            <h2 class="design__title--name">diseña</h2>
            <h3 class="design__title--colors">colores</h3>
        </div>
        <label class="design__palette" for="settings__palette">
            <input class="desidn__radio" type="radio" id="color1" name="color">
            <ul class="design__list">
              <li class="list__color" style="background-color: #114e4e">114e4e</li>
              <li class="list__color" style="background-color:#438792">438792</li>
              <li class="list__color" style="background-color:#a2deaf">a2deaf</li>
            </ul>
        </label>
        <label class="design__palette" for="settings__palette">
            <input class="desidn__radio" type="radio" id="color2" value="color2" name="color">
            <ul class="design__list">
              <li class="list__color" style="background-color: 
              #420101">420101</li>
              <li class="list__color" style="background-color:#bd1010">bd1010</li>
              <li class="list__color" style="background-color:
              #e95626">e95626</li>
            </ul>
        </label>
        <label class="design__palette" for="settings__palette">
            <input class="desidn__radio" type="radio" id="color3" name="color">
            <ul class="design__list">
                  <li class="list__color" style="background-color: #3e5b65">3e5b65</li>
                  <li class="list__color" style="background-color:#dfe5eb">dfe5eb</li>
                  <li class="list__color" style="background-color:#a0c0cf">a0c0cf</li>
                </ul>  
        </label>
      <hr></hr>
    </article>