<div>
  <form action="" method="post" class="section__settings">
    <div class="wrapper-card">
        <fieldset class="fieldset__settings">
            <partial src="_card-design.html"></partial>
          </fieldset>
          <fieldset class="fieldset__settings">
            <partial src="_card-fill.html"></partial>
          </fieldset>
          <fieldset class="fieldset__settings">
            <partial src="_card-share.html"></partial>
          </fieldset>
    </div>
  </form>
</div>
<div>
  <section class="section__card">
    <partial src="_card-preview.html"></partial>
  </section>
</div>