<main class="landing__main">
    <h1 class="landing__main--title">Crea tu tarjeta de visita</h1>
    <h2 class="landing__main--description">Crea mejores contactos profesionales de forma fácil y cómoda</h2>
    <ul class="landing__list">
      <li class="landing__list--item">
        <img src="" alt="" class="landing__list--img">
        <p class="landing__list--text">Diseña</p>
      </li>
      <li class="landing__list--item">
        <img src="" alt="" class="landing__list--img">
        <p class="landing__list--text">Rellena</p>
      </li>
      <li class="landing__list--item">
        <img src="" alt="" class="landing__list--img">
        <p class="landing__list--text">Comparte</p>
      </li>
    </ul>
    <a href="" class="landing__main--link">Comenzar</a>
</main>
