<main class="landing__main">
  <div class="wrapper">
    <h2 class="landing__main--title">Crea tu tarjeta de visita</h2>
    <h3 class="landing__main--description">Crea mejores contactos profesionales de forma fácil y cómoda</h3>
    <ul class="landing__list">
      <li class="landing__list--item">
        <div class="landing__list--img"><i class="far fa-object-ungroup"></i></div>
        <p class="landing__list--text">Diseña</p>
      </li>
      <li class="landing__list--item">
        <div class="landing__list--img"><i class="far fa-keyboard"></i></div>
        <p class="landing__list--text">Rellena</p>
      </li>
      <li class="landing__list--item">
        <div class="landing__list--img"><i class="fas fa-share-alt"></i></div>
        <p class="landing__list--text">Comparte</p>
      </li>
    </ul>
    <div class="landing__main--link-container">
      <a href="card.html" class="landing__main--link">Comenzar</a>
    </div>
  </div>
</main>
