// FONTS
$fontMerri: 'Merriweather', serif;
$fontMontse: 'Montserrat', sans-serif;
$fontOpenSans:'Open Sans', sans-serif;

// FONT-WEIGHT
$montse-reg: 400;
$montse-bold: 700;
$open-sans-reg: 400;
$open-sans-semibold: 600;

// COLOR
$black: #000000;
$blue: #438792;
$green: #a2deaf;
$khaki: #f9f4dc;
$white: #ffffff;
$orange: #e17334;
$orange-opacity: #e1733436;
$dark-green: #114e4e;
$grey-light: #f5f5f5;
$grey-soft: #c5c5c5;
$grey-footer: #6b6b6b;
$grey-dark: #54585a;
$medium-grey: #d8d8d8;
