<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="assets/css/main.css" />
  <title>Card</title>
  
</head>

<body>
  <partial src="_header.html"></partial>
  <main class="card__main">
    <section class="section__settings">
      <partial src="_card-design.html"></partial>
      <partial src="_card-fill.html"></partial>
      <partial src="_card-share.html"></partial>
    </section>
    <section class="section__card">
      <partial src="_card-preview.html"></partial>
    </section>
  </main>
  <partial src="_footer.html"></partial>
</body>

</html>