<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CatchFire</title>
  <link href="https://fonts.googleapis.com/css?family=Merriweather:900|Montserrat:400,700|Open+Sans:400,600" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
  <partial src="_header.html"></partial>
  <partial src="_landing-main.html"></partial>
  <partial src="_footer.html"></partial>
</body>

</html>