<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>

  <!-- HEADER -->

  <header class="header__landing header__card">
    <div class="header__logo-container">
      <img class="header__logo" src="" alt="">
    </div>
  </header>

  <!-- MAIN -->

  <main class="landing__main">
    <h1 class="landing__main--title">Crea tu tarjeta de visita</h1>
    <h2 class="landing__main--description">Crea mejores contactos profesionales de forma fácil y cómoda</h2>
    <ul class="landing__list">
      <li class="landing__list--item">
        <img src="" alt="" class="landing__list--img">
        <p class="landing__list--text">Diseña</p>
      </li>
      <li class="landing__list--item">
        <img src="" alt="" class="landing__list--img">
        <p class="landing__list--text">Rellena</p>
      </li>
      <li class="landing__list--item">
        <img src="" alt="" class="landing__list--img">
        <p class="landing__list--text">Comparte</p>
      </li>
    </ul>
    <a href="" class="landing__main--link">Comenzar</a>
  </main>

  <!-- FOOTER -->

  <footer class="footer">
    <p class="footer__text">Awesome profile cards &copy2018</p>
    <a href="" class="footer__link"></a>
  </footer>
</body>

</html>