.settings__fill {
    margin: 0;
    display: flex;
    flex-direction: column;
}
.fill__first-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 25px;
}
.fill__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.fill__title--name {
    margin: 0 0 0 10px;
    @include titleForm();
}
.fill__img {
    @include iconForm();
}
.fill__form input {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}
.fill__fieldset {
    border: 0;
}
