.landing__body .header__logo-container {
    background: $grey-light;
    display: flex;
    justify-content: center;
    padding-top: 95px;
    padding-bottom: 35px;
    margin-bottom: 0;
    @media all and (min-width:768px) {
      padding-top: 63px;
    }
}

.landing__body .header__logo {
    background: url('../images/awesome-logo.svg') center center no-repeat;
    background-size: contain;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding-top: 63px;
    width: 250px;
    @media all and (min-width:768px) {
      width: 420px;
      padding-top: 105px;
    }
}

.card__body .header__card .header__logo-container {
    background: $white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 31px 79px 30px 40px;
    margin-bottom: 0;
    @media all and (min-width: 768px) {
      justify-content: flex-start;
      padding: 31px 527px 30px 40px;
    }
    @media all and (min-width: 1024px) {
      padding: 31px 783px 30px 40px;
    }
}

.card__body .header__logo {
    background: url('../images/awesome-logo.svg') center center no-repeat;
    background-size: contain;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding-top: 50px;
    width: 210px;
}