@mixin titleForm() {
    font-family: $fontOpenSans;
    color: $grey-dark;
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-start;
    width: 150px;
    height: 30px;
}

@mixin iconForm() {
    color: $orange;
    font-size: 18px;
    text-align: center;
    width: 30px;
    height: 25px;
    margin-right: 5px;
}

@mixin boxForm() {
    display: flex;
    justify-content: space-between;
   
}

@mixin arrowForm() {
    color:$grey-dark;
}