// FONTS

$fontMerri: 'Merriweather', serif;
$fontMontse-Reg: 'Montserrat-regular', sans-serif;
$fontMontse-Bold: 'Montserrat-bold', sans-serif;
$fontOpenSans-Reg:'Open Sans-regular', sans-serif;
$fontOpenSans-Semibold:'Open Sans-semibold', sans-serif;

// COLOR

$black: #000000;
$dirty-blue: #438792;
$hospital-green: #a2deaf;
$light-khaki: #f9f4dc;
$white: #ffffff;
$dull-orange: #e17334;