// FONTS

$fontMerri: 'Merriweather', serif;
$fontMontse: 'Montserrat', sans-serif;
$fontOpenSans:'Open Sans', sans-serif;

// FONT-WEIGHT
$montse-reg: 400;
$montse-bold: 700;
$open-sans-reg: 400;
$open-sans-semibold: 600;

// COLOR

$black: #000000;
$blue: #438792;
$green: #a2deaf;
$khaki: #f9f4dc;
$white: #ffffff;
$orange: #e17334;